$pale-cerulean: #98c1d9;
$blue-violet: #6969b3; 
$cyber-grape: #533a7b; 
$dark-byzantium: #4b244a; 
$raisin-black: #25171a; 
$almost-white: #eaf0f3; 

// Grid practice
$grid-width: 114rem; 
$vertical-gutter: 8rem; 
$horizontal-gutter: 6rem; 